/target/
!**/target/.gitkeep

/.cargo/
/registry/
/git

**/*.rlib
**/*.rmeta
**/*-*.d
**/Cargo.lock

/coverage/
*.profdata
*.lcov
**/*.bk
/target/*.json

.venv/
venv/
env/
/env/

.uv/
__pypackages__/

__pycache__/
*.py[cod]
*.pyo
.pytest_cache/
.mypy_cache/
.coverage
ruff_cache/

build/
dist/
*.egg-info/
pip-wheel-metadata/

.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes
.fseventsd

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
/.idea/
